.smallText {
    font-size: xx-small
}

.largeText {
    font-size: xx-large;
}

.blueFont {
    color: blue;
}

.border {
    border: 2px solid peachpuff;
}

.goldenrodBackground {
    background-color: goldenrod;
}